
header {
    height: 5vh;
    padding: 2em;
    background-color: #EEEEEE;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5em;
    cursor: pointer;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.account_username {
    font-size: 12px;
}

.profile {
    border: none;
    cursor: pointer;
}

.profile:hover {
    opacity: 0.75;
}

// RESPONSIVE

@media only screen and (max-width: 1200px) {

    .account {
        flex-direction: column-reverse;
    }
}